.galleryItem {
  position: relative;
  width: calc((100% - 20px) / 2);
  background-color: white;
  color:var(--primary-color);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;

  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.galleryItem:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow);
}

.rating {
  font-style: 10px;
  font-weight: bold;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 2px;
  border-radius: 0 0  8px 0;
  position: absolute;
  top: 4px;
  left: 4px;
}

.linkWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
 
}

.title {
  font-weight: bold;
  /* flex-grow: 1; */
}
.genres {
  font-size: 10px;
}
.imgSkeleton{
  position: relative;
  overflow: hidden;
  width: 127px;
  height: 190px;
  background-color: var(--tertiary-color);
  
}
@media screen and (min-width: 768px) {
  .galleryItem {
    width: calc((100% - 30px) / 3);
  }
    .imgSkeleton {
      width: 228px;
      height:342px;
    }
.rating {
 padding: 4px;
}
  .title {
    font-size: 14px;
  }

  .genres {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .galleryItem {
    width: calc((100% - 60px) / 5);
  }
    .imgSkeleton {
      width: 230px;
      height: 345px;
    }
}

