.galleryItem {
    position: relative;
    width: calc((100% - 20px) / 2);
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.rating{
   background-color: #2b4d8d;
   color:white;
    padding: 4px;
    border-radius: 8px;
     position:absolute;
     top: 8px;
     left: 8px;   
}
.title{
    font-size: 12px;
    font-weight: bold;
    flex-grow: 1;

}
.genres{
 font-size: 10px;   

}

@media screen and (min-width: 768px) {

    .galleryItem {
        width: calc((100% - 40px) / 3);
    }

    .title {
        font-size: 16px;
        text-align: start;
    }

    .genres {
        font-size: 14px;
        text-align: end;
    }

}

@media screen and (min-width: 1280px) {

    .galleryItem {
        width: calc((100% - 40px) / 3);
    }
        /* .title {
            font-size: 16px;
            text-align: start;
        }
    
        .genres {
            font-size: 14px;
            text-align: end;
        } */
    
}