.button {
  margin: 0;
  padding: 12px;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  font: inherit;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.button:hover,
button:focus {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transform: scale(1.02);
  box-shadow: var(--box-shadow);
}
