.card {
  background-color: #f1f1f1;
  display: flex;
}
.posterWrap {
  padding: 15px;
  width: 40%;
}
.descriptionWrap {
  padding: 15px;
  width: 60%;
}

.companiesWrap {
  display: flex;
  align-items: center;

  gap: 8px;
}
.companyCard {

  width: 44px;
    display: flex;
    flex-direction: column;
}
.companyName {
  font-size: 10px;
  flex-grow: 1;
}
.companyCountry {
  font-size: 8px;
}
