.card {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
.posterWrap {
  padding: 15px;

}
.descriptionWrap {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .card {
      flex-direction: row;
    }
  .posterWrap {
      width: 40%;
    }
  
    .descriptionWrap {
      width: 60%;
    }
  
}


.value{
  background-color: #90cea1;
  color: #0d253f;
  padding: 4px;
  border-radius: 8px;
}
