  .cast {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
 .castItem {
   width: calc((100% - 8px) / 2);
 }
.name {
  font-size: 14px;
}
.role {
  font-size: 14px;
}
@media screen and (min-width: 768px) {

  .castItem {
    width: calc((100% - 40px) / 6);
  }
}

@media screen and (min-width: 1280px) {
  .castItem {
    width: calc((100% - 56px) / 8);
  }
}
