.logo {
width:80px;
 height:80px;
}
.logoText {
  font-weight: 400;
  font-size: 30px;
  color: white;
}
@media screen and (max-width: 767px) {
  .header {
    height: 200px;
    padding: 20px;
  
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 40px;
  }
}

/* @media screen and (min-width: 1280px) {
  .header {
    background-image: url("../../images/header-desktop-x1.png");
  }
} */
