.logo {
  width:40px;
 height:40px;
    transition-property: transform, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: linear;
}
.logo:hover{
      transform: scale(1.02);
        box-shadow: 0 10px 26px #141414;
}

@media screen and (min-width: 768px){
  .logo {
      width: 80px;
      height: 80px;
    }
}

  .header {
    padding: 20px;
    background-color: #0d253f;
  }


