.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    background-color: #01b4e4;
}

@media screen and (min-width: 1280px) {

    .gallery {
        margin-bottom: 40px;
    }


}