.App {
    margin: 0 auto;
}
.Gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px;
        background-color: #959595;
}
.GalleryItem{
    width: calc((100% - 20px) / 2);
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
}

@media screen and (max-width: 767px) {
    .App {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .App {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .App {
        width: 1280px;
    }
    .GalleryItem{
        width: calc((100% - 40px) / 3);
    }
}