*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: grey;
  background-image: url("./images/bg.jpg");
}
ul{
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.App {
    margin: 0 auto;
}


@media screen and (max-width: 767px) {
    .App {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .App {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .App {
        width: 1280px;
    }

}
