/* :root{
  --primary-text-color:;
  --secondary-text-color:;
} */
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: grey;
}
ul{
  list-style: none;
}
@font-face {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

