.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 15px;
}
.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60px;
}
.form input {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
}
.form input::placeholder{
     color: var(--primary-color);
     opacity: 0.6;
}
.form input:focus-visible {
  outline: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-bottom: 1px var(--primary-color);
  border-radius: 8px;
}

.form input:-webkit-autofill{
 border-radius: 8px;
}
.inputName {
  color: var(--primary-color);
  margin-bottom: 4px;
}
.inputError{
color: red;
}

